{% extends "base.html" %}

{% block title %} Главная {% endblock title %}
{% block content%}
{% load static %}
{% if data_outside is not None and data_inside is not None %}
{% block header %}{% endblock header %}
<div class="container">
    <div class="row">
        <!-- Первая колонка -->
        <div class="col-md-5 offset-md-2">
            {% for key, value in data_outside.items %}
        <div class="card text-bg-secondary text-center mb-3" >
                {% if key == "Погода" %}
                    <img src="{% static type_weather|add:'.png' %}" 
                         class="w-50 mx-auto card-img-top p-2" 
                         alt="weather img">
                {% else %}
                    <div class="card-header">{{ key }}</div>
                {% endif %}
                <div class="card-body">
                    <h1 class="card-title">{{ value }}</h1>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Вторая колонка -->
        <div class="col-md-4">
            {% for key, value in data_inside.items %}
            <div class="card text-bg-light text-center mb-3">
                {% if key == "Погода" %}
                    <img src="{% static type_weather|add:'.png' %}" 
                         class="w-50 mx-auto card-img-top p-2" 
                         alt="weather img">
                {% else %}
                    <div class="card-header">{{ key }}</div>
                {% endif %}
                <div class="card-body">
                    <h1 class="card-title">{{ value }}</h1>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

<script> // Обновлять каждые 5 секунд (5000 мс)
    setInterval(() => {
        location.reload();
    }, 5000);
</script>         

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock content %}
